# dependencies
node_modules/
build/

# dotenv environment variables
.env

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.swp
*.lock

# Optional npm cache folder
.npm/

# Optional REACT-SCRIPTS cache
.cache/