@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}


.start {
  margin-left: -5px;
  padding-top: 5px;
}

body {
  background-color: #121a29;
  background: linear-gradient(#111928, #1a263b);
}

.icon {
  color: white;
}
.num {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 37px;
}

.justtxt {
  font-family: "Inter", serif;
}

.txt {
  font-family: "Inter", serif;
  font-weight: 700;
}

.lighttxt {
  font-family: "Inter", serif;
  font-weight: 300;
}

.hover-diagonal {
  display: inline-block;
  transition: transform 0.3s ease;
}

.hover-diagonal:hover {
  transform: rotate(10deg) translate(10px, 10px);
}

.squares {
  width: 100%;
  height: 100%;
  --color: rgb(24, 25, 58);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  animation: moveDown 5s linear infinite;
}

@keyframes moveDown {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 55px;
  }
}

.segoe {
  font-family: "Segoe UI";
}

.dotted {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(hsl(231, 40%, 29%) 1px, transparent 0);
  background-size: 20px 20px;
  animation: moveUp 1s linear infinite;
  background-position: 0 0;


  mask-image: linear-gradient(to top, transparent 0%, white 30%, white 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, white 30%, white 70%, transparent 100%);
  z-index: 0;
  inset: 0;
  overflow: hidden;
}

@keyframes moveUp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -20px;
  }
}

.container {
  opacity: 1;
  transform: none;
  will-change: opacity, transform;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.pop
{
  width: 100%;
  height: 100%;
}



